---
layout: page
title: Authors
permalink: /authors/
---
<p>
  This site would not be complete without the wonderful people who write, edit, and share their content. Click the links to learn more about each one.
</p>

<h2>Site Mantainers</h2>

  <ul>
    
    {% for author in site.authors %}
    {% if author.position=="Site Maintainer" %}
    
    <li>
      
      <h3><a href="{{ author.url }}">{{ author.name }}</a></h3>
      <blockquote>{{ author.short_bio }}</blockquote>
    
    </li>
    
    {% endif %}
    {% endfor %}
  
  </ul>

<h2>Editors</h2>
  
  <u>
    
    {% for author in site.authors %}
    {% if author.position=="Editor" %}
    
    <li>
      
      <h3><a href="{{ author.url }}">{{ author.name }}</a></h3>
      <blockquote>{{ author.short_bio }}</blockquote>
    
    </li>
    
    {% endif %}
    {% endfor %}
  
  </u>

<h2>Writers</h2>
  
  <ul>
    
    {% for author in site.authors %}
    {% if author.position=="Writer" %}
    
    <li>
      
      <h3><a href="{{ author.url }}">{{ author.name }}</a></h3>
      <blockquote>{{ author.short_bio }}</blockquote>
    
    </li>
    
    {% endif %}
    {% endfor %}
  
  </ul>
