---
layout: page
title: Books
permalink: /books/
---

<ul>
  {% for book in site.data.book %}
    {% assign book-posts = site.posts | reverse | where: 'book', book.id %}
    {% if book-posts.size > 0 %}
      <li><a href="#{{ book.id }}">{{ book.title }} ({{ book-posts.size }})</a></li>
    {% endif %}
    {% assign book-posts = nil %}
  {% endfor %}
</ul>

{% for book in site.data.book %}
  {% assign book-posts = site.posts | reverse | where: 'book', book.id %}
  {% if book-posts.size > 0 %}
    <h3 id="{{ book.id }}">{{ book.title }}</h3>
    <p>{{ book.description }}</p>
    <ul>
      {% for post in book-posts %}
      <li><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>:
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% assign book-posts = nil %}
{% endfor %}
