<h4><em>{{ site.data.book | where: 'id', page.book | map: 'title' }}</em></h4>
{% assign book-posts = site.posts | reverse | where: 'book', page.book %}
{% for post in book-posts %}
  {% if post.url == page.url %}
    {% assign prev_post_index = forloop.index | minus: 1 %}
    {% assign curr_post_index = forloop.index %}
    {% assign next_post_index = forloop.index | plus: 1 %}
  {% endif %}
{% endfor %}

<p>Chapter <strong>{{ curr_post_index }}</strong> of <strong>{{ book-posts.size }}</strong>.
  {% if book-posts.size == 1 %}More chapters coming soon!{% endif %}</p>

{% for post in book-posts %}
  {% if prev_post_index == forloop.index %}
    <a class="btn" rel="prev" href="{{ site.baseurl }}{{ post.url }}">&larr; Prev Chapter</a>
  {% endif %}

  {% if next_post_index == forloop.index %}
    <a class="btn" rel="next" href="{{ site.baseurl }}{{ post.url }}">Next Chapter &rarr;</a>
  {% endif %}
{% endfor %}