---
layout: default
---

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% include breadcrumbs.html %}
		<div class="page-title">
			{% include series-header.html %}
			<h1>{{ page.title }}</h1>
			{% include page-meta.html %}
		</div>
		<div class="post-tags">
			{% if page.tags %}
			 {% assign tags = page.tags %}
			 {% for tag in tags %}
			 <a href="{{site.baseurl}}/tags/#{{ tag|slugize }}">#{{ tag }}</a>
			 {% unless forloop.last %}&nbsp;{% endunless %}
			 {% endfor %}
			{% endif %}
		</div>
		<!-- Page Counter -->
		<div id="sfc5b27n7e3q1z2fxrp8smnthnqu8qcylul"></div>
		<script type="text/javascript" src="https://counter3.stat.ovh/private/counter.js?c=5b27n7e3q1z2fxrp8smnthnqu8qcylul&down=async" async></script>
		<br>
		<a href="https://www.freecounterstat.com">web page counter</a>
		<noscript>
		<a href="https://www.freecounterstat.com" title="web page counter">
		<img src="https://counter3.stat.ovh/private/freecounterstat.php?c=5b27n7e3q1z2fxrp8smnthnqu8qcylul" border="0" title="web page counter" alt="web page counter"></a>
		</noscript>
		<!-- End of Page Counter -->
		<hr>
		<div class="inner-wrap">
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% include series-footer.html %}
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments != false %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->
