---
layout: default
---
<style>
    a.back {
      float: left;
    }
    a.forward {
      float: right;
    }
</style>
    
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    <div class="wrapper">
      
      {% if page.book %}
      <h2><em>{{ site.data.book | where: 'id', page.book | map: 'title' }}</em></h2>
      {% assign book-posts = site.posts | reverse | where: 'book', page.book %}
      {% endif %}
      {% if page.series %}
      <h4><em>{{ site.data.series | where: 'id', page.series | map: 'title' }}</em> Series</h4>
      {% assign series-posts = site.posts | reverse | where: 'series', page.series %}
      {% endif %}
      
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: date_format }}
        </time>
        {%- if page.modified_date -%}
          ~
          {%- assign mdate = page.modified_date | date_to_xmlschema -%}
          <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
            {{ mdate | date: date_format }}
          </time>
        {%- endif -%}
        {% assign author = site.authors | where: 'short_name', page.author | first %}
        {% if author %}
          - <a href="{{ author.url }}">Written by {{ author.name }}</a>
        {% endif %}
      </p>
      
      {% if page.categories.size > 0 %}
        <p class="post-meta post-categories"><b>Categories: </b>
          {% assign categories = page.categories | sort %}
          {% for category in categories %}
            <span class="post-category">
              {% assign slugified_category = category | slugify %}
              <a href="{{ '/categories/#:category' | replace: ':category', slugified_category | relative_url }}">#{{ slugified_category }}</a>
            </span>
          {% endfor %}
        </p>
      {% endif %}
      
      {% if page.tags.size > 0 %}
        <p class="post-meta post-tags"><b>Tags: </b>
          {% assign tags = page.tags | sort %}
          {% for tag in tags %}
            <span class="post-tag">
              {% assign slugified_tag = tag | slugify %}
              <a href="{{ '/tags/#:tag' | replace: ':tag', slugified_tag | relative_url }}">#{{ slugified_tag }}</a>
            </span>
          {% endfor %}
        </p>
      {% endif %}
    </div>

  </header>

  <div class="wrapper">
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>
    
    {% if page.book %}
    <hr>
    {% for post in book-posts %}
      {% if post.url == page.url %}
        {% assign prev_post_index = forloop.index | minus: 1 %}
        {% assign curr_post_index = forloop.index %}
        {% assign next_post_index = forloop.index | plus: 1 %}
      {% endif %}
    {% endfor %}
    
    <h4 style="text-align:center">Chapter <strong>{{ curr_post_index }}</strong> of <strong>{{ book-posts.size }}</strong>.
      {% if book-posts.size == 1 %}More chapters coming soon!{% endif %}</h4>
    
    {% for post in book-posts %}
      {% if prev_post_index == forloop.index %}
        <a class="back" rel="prev" href="{{ site.baseurl }}{{ post.url }}">&lArr; Prev Chapter</a>
      {% endif %}
    
      {% if next_post_index == forloop.index %}
        <a class="forward" rel="next" href="{{ site.baseurl }}{{ post.url }}">Next Chapter &rArr;</a>
      {% endif %}
    {% endfor %}
    {% endif %}
    
    {% if page.series %}
    <hr>
    {% for post in series-posts %}
      {% if post.url == page.url %}
        {% assign prev_post_index = forloop.index | minus: 1 %}
        {% assign curr_post_index = forloop.index %}
        {% assign next_post_index = forloop.index | plus: 1 %}
      {% endif %}
    {% endfor %}
    
    <h4 style="text-align:center">Post <strong>{{ curr_post_index }}</strong> of <strong>{{ series-posts.size }}</strong>.
      {% if series-posts.size == 1 %}More posts coming soon!{% endif %}</h4>
    
    {% for post in series-posts %}
      {% if prev_post_index == forloop.index %}
        <a class="back" rel="prev" href="{{ site.baseurl }}{{ post.url }}">&lArr; Prev Post</a>
      {% endif %}
    
      {% if next_post_index == forloop.index %}
        <a class="forward" rel="next" href="{{ site.baseurl }}{{ post.url }}">Next Post &rArr;</a>
      {% endif %}
    {% endfor %}
    {% endif %}
    
    <br><br>
    
    <div id="hyvor-talk-view"></div>
    <script type="text/javascript">
        var HYVOR_TALK_WEBSITE = 1000; // DO NOT CHANGE THIS
        var HYVOR_TALK_CONFIG = {
            url: '{{ page.url | absolute_url }}',
            id: '{{page.id}}'
        };
    </script>
    <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
  
  </div>
  
</article>
